#standalone-container
{
    height: 100% !important;
}

#save-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 5;
}

#save-success {
    position: fixed;
    bottom: 0;
    right: 5em;
    z-index: 5;
}
