#standalone-container
{
    height: 100% !important;
}

.floating-bottom-right {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 5;
}

#save-success {
    position: fixed;
    bottom: 0;
    right: 5em;
    z-index: 5;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle.btn-lg {
    width: 45px;
    height: 45px;
    padding: 8px 8px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

